name: .NET Core

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
    
    - name: Start redis
      run: docker run --rm --detach -p 6379:6379 --name redis -e ALLOW_EMPTY_PASSWORD=yes bitnami/redis:latest
      
    - name: Run docker
      run: docker ps && docker info    
    
    - name: Docker in docker
      run: |
        docker run --rm -v /var/run/docker.sock:/var/run/docker.sock docker:19.03 docker ps
        docker run --rm -v /var/run/docker.sock:/var/run/docker.sock docker:19.03 docker info
    
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9
      with:
        versionSpec: '5.1.x'
        
    - name: Use GitVersion
      id: gitversion # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v0.9
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
      
    - name: Restore
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration Release --no-restore /p:Version=${{ steps.gitversion.outputs.nuGetVersionV2}}
    
    - name: Pack
      run: dotnet pack ./src/AwsCdk.CloudWatchLogAggregator/AwsCdk.CloudWatchLogAggregator.csproj --configuration Release --no-build /p:PackageVersion=${{ steps.gitversion.outputs.nuGetVersionV2}}
    
    - name: Publish
      uses: tanaka-takayoshi/nuget-publish-to-github-packages-action@v2.1
      with:
        nupkg-path:  './src/AwsCdk.CloudWatchLogAggregator/bin/Release/*.nupkg'
        repo-owner:  'mabead'
        gh-user:  'mabead'
        token:  ${{ secrets.GITHUB_TOKEN }}
      
    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Tag
      if: github.ref == 'refs/heads/master'
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.gitversion.outputs.fullSemVer }}
        release_name: Release ${{ steps.gitversion.outputs.fullSemVer }}
